fastapi
uvicorn

langchain==1.0.2
langchain-core==1.0.2
langchain-openai==1.0.1
langgraph

langchain-mcp-adapters==0.2.2
mcp==1.29.0

openai

chromadb
langchain-chroma
langchain-community
langchain-text-splitters

neo4j
langchain-neo4j
langchain-experimental

guardrails-ai
detoxify
presidio-analyzer
presidio-anonymizer
spacy

httpx
pydantic

rank-bm25
pypdf
pandas
datasets
sqlalchemy

ragas

arize-phoenix
openinference-instrumentation-langchain

plotly
reportlab
streamlit
better-profanity
paddleocr==3.2.0
paddlepaddle==3.2.0
pymupdf
pillow
edge-tts
python-certifi-win32